body {
  padding: 0;
  margin: 0;
  font-size: 17pt;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: darkblue;
  color: white;
  position: fixed;
  width: 100%;
}

header div.headerbutton {
  display: flex;
  padding: 0;
}

header .img img{
 height: 65px;
 margin-top: 15px;
 cursor: pointer;
}

header div.login button.submit{
  margin-right: 4px;
}

header .login button {
  font-size: 20px;
  box-sizing: border-box;
  height: 70%;
  border-radius: 7px;
  margin-top: 15px;
  align-items: center;
  margin-bottom: 5px;
  background-color: dodgerblue;
  color: white;
  border: none; 
  cursor: pointer;
}

header .up {
  height: 49px;
  width: 96px;
  align-content: center;
  background-color: #39B134;
  cursor: pointer;
  margin: 18px;
}

header .up img {
  margin-top: 8px;
  margin-left: 9px;
  height: 35px; 
  transform: scale(1);
  justify-content: center;
}

main {
  display: flex;
  background: url(IMAGE/is.jpg);
  color: white;
  height:757px;
  background-position: center;
  justify-content: center;
  align-items: center;
}

main .style {
  margin-top: 180px;
  
}
main .style h2 {
  font-size: 35pt;
  cursor: default;
}

main .style .ref a {
  display: flex;
  color: inherit;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 99px;
  background: #107DC2;
  border-radius: 6px;
  width: 349px;
}

main .style .ref {
  height: 99px;
  justify-content: center;
  margin-left: 175px;
}

footer {
  color: gray;
  font-family: Cambria, Cochin, Georgia, Times,'Times New Roman', serif;
  cursor: default;
}
footer .robs {
  text-align: center;
}

footer .font {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font: normal normal normal 22px/1.6 'Open Sans', sans-serifr;
}

footer .font .c .Cj{
 background-color:grey ;
 align-content: center; 
 border-radius: 99px;
 width: 75px;
 height: 75px;
}

footer .font .c {
  color:white;
}

footer div.bagiantengah{
  background-color: rgb(235, 235, 235);
}

footer div.tengah{
text-align: center;
padding: 123px;
}

footer div.tengah h2{
  color: rgb(24, 144, 214);
}

footer div.tengah div.tengahdalem h4{
  color: black;
}

footer .under {
  background-color: black;
  color: gray;
  justify-content: space-between;
  height: 339px;
}

footer .under a{
  text-decoration: none;
  color: inherit;
  display: flex;
  font: 5pt;
}

footer .jes {
  display: flex;
  justify-content: center;
  color: white;
  background-color: black;
  height: 499px;
}

footer .jes h5 {
  margin-top: 380px;
}

footer .up {
  display: flex;
  justify-content: space-between;
  color: lightgray;
  margin: 23px;
}

footer .up a {
  align-items: center;
  color: inherit;
}

footer .plus {
  color: black;
  justify-items: center;
  text-align: center;
  size: 10px;
  padding: 123px;
}
