body {
  padding: 0;
  margin: 0;
  font-size: 17pt;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: darkblue;
  color: white;
  position: fixed;
  width: 100%;
}

header div.headerbutton {
  display: flex;
  padding: 0;
}

header .img img{
 height: 65px;
 margin-top: 15px;
 cursor: pointer;
}

header div.img{
  display: flex;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  align-content: center;
  font-size: 15pt;
  cursor: default;
}

header .login button {
  font-size: 20px;
  box-sizing: border-box;
  height: 60%;
  border-radius: 1px;
  margin-top: 15px;
  align-items: center;
  margin-bottom: 5px;
  background-color: rgb(12, 76, 214);
  color: white;
  border: none; 
  cursor: pointer;
}

header div.login button a{
  text-decoration: none;
  color: inherit;
}

header .up {
  height: 49px;
  width: 96px;
  align-content: center;
  background-color: #39B134;
  cursor: pointer;
  margin: 18px;
}

header .up img {
  margin-top: 8px;
  margin-left: 9px;
  height: 35px; 
  transform: scale(1);
  justify-content: center;
}

main {
  display: flex;
  background: url(IMAGE/is.jpg);
  color: white;
  height:757px;
  background-position: center;
  justify-content: center;
  align-items: center;
  width:190vh
}

main .style {
  margin-top: 180px;
 
}
main div.style h2 {
  font-size: 35pt;
  cursor: default;
  font-family: Arial, Helvetica, sans-serif;
}

main .style .ref a {
  display: flex;
  color: inherit;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 99px;
  background: #107DC2;
  border-radius: 6px;
  width: 349px;
}

main .style .ref {
  height: 99px;
  justify-items: center;
}

main2 {
  color: gray;
  font-family: Cambria, Cochin, Georgia, Times,'Times New Roman', serif;
  cursor: default;
}
main2 .tambalan{
  width:190vh
}
main2 .robs {
  text-align: center;
}

main2 .font {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font: normal normal normal 22px/1.6 'Open Sans', sans-serifr;
}

main2 .font .c .Cj{
 background-color:grey ;
 align-content: center; 
 border-radius: 99px;
 width: 75px;
 height: 75px;
}

main2 .font .c {
  color:white;
}

main2  div.bagiantengah{
  background-color: rgb(235, 235, 235);
  width: 190vh
}

main2 div.tengah{
text-align: center;
padding: 123px;
}

main2 div.tengah h2{
  color: rgb(24, 144, 214);
  font-family: Arial, Helvetica, sans-serif;
}

main2 div.tengah div.tengahdalem h4{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
}

footer div.under {
  background-color: #1E232F;
  width: 190vh;
}

footer div.under div.undertengah{
  text-align: center;
  color: white;
  font-size: 30pt;
  padding: 100px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

footer div.under div.codeunder{
  color: gray;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 365px;
  display: flex;
  flex-wrap: nowrap;
  gap: 99px;
  margin-left: 123px;
}

footer .under a{
  text-decoration: none;
  color: inherit;
  display: flex;
  font: 5pt;
}

footer .up {
  flex-direction: column;
  margin: 23px;
}

footer div.up a.company{
  margin-bottom: 22px;
  color: lightgray;
}

footer div.under div.under1{
  flex-direction: column;
  margin: 23px;
}

footer div.under div.under1 a.tools{
  margin-bottom: 22px;
  color: lightgray;
}


footer div.under div.under2{
  flex-direction: column;
  margin: 23px;
}

footer div.under div.under2  a.upgrade{
  margin-bottom: 22px;
  color: lightgray;
}

footer div.under div.under3{
  flex-direction: column;
  margin: 23px;
}

footer div.under div.under3 a.support{
  margin-bottom: 22px;
  color: lightgray;
}

footer .up a {
  align-items: center;
  color: inherit;
}

main2 .plus {
  color: black;
  justify-items: center;
  text-align: center;
  size: 10px;
  padding: 123px;
  font-size: 12pt;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  flex-wrap: wrap;
}

main2 div.plus h4{
  width: 192px;
}

footer div.under div.dll{
  align-items: center;
  display:flex;
  color: gray;
  margin-left: 122px;
  gap: 38px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer div.under div.dll h5{
  color: white;
}

main2 div.plus img{
  height: 15rem;
}
